@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Teko:wght@300..700&display=swap");

:root {
  --primary-color: rgba(128, 164, 236, 0.66);
  --secondary-color: rgba(220, 233, 220, 0.701);
  --third-color: rgba(214, 133, 133, 0.616);
  --fourth-color: rgb(62, 57, 57);
  --disable-color: rgb(228, 200, 147);
  --focus-color: rgb(211, 102, 110);
  --board-shadow: 1px 1px grey;
  --Teko--font: "Teko", sans-serif;
  --Platpyi--font: "Platypi", serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

/* Now the layout */
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/marita-kavelashvili-ugnrXk1129g-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(3rem, 0.5fr) 2fr 2fr;
  gap: 10px;
  height: 100%;
}

/*Header Options*/
.options-container {
  outline: none;
  grid-row: 1;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2px;
  border-radius: 10px;
  box-shadow: var(--board-shadow);
  border-bottom: 4px solid var(--third-color);
}
.options-container button {
  width: 100%;
  font-family: var(--Teko--font);
  font-size: 2rem;
  transition: background-color 0.3s ease; /* Smooth transition over 0.3 seconds */
  color: black;
}
.options-container button:hover {
  background-color: #3e8e41; /* Hover background color */
  color: wheat;
}
.options-container button:active {
  animation: bounce 1.8s ease-in-out infinite alternate; /* Animation name, duration, and timing */
}
.selected {
  background-color: var(--primary-color);
}
/* Form */
.input-container {
  grid-column: 1 / span 2;
  grid-row: 2;
  place-self: center;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  border-left: 10px var(--fourth-color) solid;
  border-bottom: 10px var(--third-color) solid;
  border-right: 10px var(--primary-color) solid;
  box-shadow: var(--board-shadow);
}
label {
  color: darkblue;
  font-family: var(--Platpyi--font);
  font-weight: 600;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input[type="text"] {
  padding: 0.4rem;
  border-radius: 10px;
  font-family: var(--Teko--font);
  font-size: 1.4rem;
  letter-spacing: 2px;
  border-left: 5px solid var(--fourth-color);
  outline: none;
  box-shadow: var(--board-shadow);
}
input[type="text"]:focus {
  border-left: 5px solid var(--focus-color);
}
.sp-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 10px;
}

.name-submit-button,
.new-game {
  width: 50%;
  height: 3.3rem;
  border-radius: 10px;
  font-family: var(--Platpyi--font);
  font-size: 16px;
  color: rgb(0, 21, 255);
  text-align: center;
  font-weight: 900;
  border-left: 4px solid red;
  border-top: 4px solid yellow;
  border-right: 4px solid green;
  border-bottom: 4px solid blue;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.name-submit-button:disabled {
  animation: pulse 0.7s ease-in-out infinite alternate; /* Animation & looping */
  border: none;
  color: var(--secondary-color);
  background-color: gray;
  opacity: 0.4;
}

/* Board */
.board {
  grid-row: 3;
  grid-column: 1 / span 2;
  place-self: center;
  animation: bounce 1.8s ease-in-out infinite alternate; /* Animation name, duration, and timing */
  border-left: double red 4px;
  border-right: double blue 4px;
  border-top: double green 4px;
  border-bottom: double yellow 4px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.54);
}
.board-row {
  display: flex;
  gap: 5px;
  border: none;
  min-width: 100%;
}
.cell {
  border: none;
  max-width: 80px;
  min-width: 80px;
  min-height: 80px;
  max-height: 80px;
  border-radius: 2px;
  font-family: var(--Platpyi--font);
  font-weight: 900;
  text-align: center;
  font-size: 3rem;
  background-color: rgba(212, 212, 212, 0.345);
}
.cell:disabled {
  color: black;
}
/* Dialog */
dialog {
  width: 17rem;
  border-top: double 5px red;
  border-left: double 5px green;
  border-right: double 5px blue;
  border-bottom: double 5px yellow;
  border-radius: 10px;
  box-shadow: var(--board-shadow);
  background-color: var(--secondary-color);
}
dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
dialog h3 {
  font-family: var(--Platpyi--font);
  margin: 0;
  padding: 0;
  text-align: center;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.dialog-message {
  font-family: var(--Platpyi--font);
  font-size: 1.2rem;
  padding: 10px;
}
.button-container {
  margin: auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
dialog button {
  padding: 7px;
  border-radius: 10px;
  border-left: red solid;
  border-top: blue solid;
  border-bottom: green solid;
  border-right: rgb(238, 0, 255) solid;
}
dialog button:focus {
  outline: none;
  background-color: var(--primary-color);
  animation: pulse 0.7s ease-in-out infinite alternate; /* Animation & looping */
}
/*key frames */

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  } /* Slight transparency change */
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  } /* Move button up slightly */
  100% {
    transform: translateY(0);
  }
}
